form {
    border: 1px solid black;
    width: 600px;
    padding: 0px 7px 15px;
}

label {
    display: block;
    float: left;
    clear: left;
    width: 132px;
    text-align: left;
}

input {
    margin-bottom: 5px;
}

legend {
    font-size: 2em;
    
}


button {
    margin-left: 132px;
    margin-top: 5px;

}