* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}    
    h1 {
    color: lightblue;
    margin-bottom: 30px;
}

.mojaLista li {
    list-style: none;
    background-color: lightblue;
    padding: 10px;
    margin: 5px;
    width: 200px;
}

.precrtano {
    text-decoration: line-through;
}

input {
    margin: 15px 0px 5px 5px;
    width: 200px;
}
.a {
    margin-left: -90px
}
label {
    margin: 5px 5px 5px -90px;
    width: 200px;
    
}
input[type=submit] {
    background-color: rgb(12, 114, 209);
    font-size: 1em;
    padding: 10px;
}